.experienceBar {
  display: flex;
  align-items: 1rem;
}

.experienceBar span {
  font-size: 1rem;
}

.experienceBar > div {
  /* flex: 1 indicates to occupy all the room it can */
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.experienceBar > div > div {
  height: 4px;
  border-radius: 4px;
  background: var(--green);
}

span.currentExperience {
  /* translateX(-50%) centers an absolute positioned element */
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}
